* {
    margin: 0;
}

#container {
    background-color: aquamarine;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.quadrado {
    height: 100px;
    width: 100px;
    border: 5px solid chocolate;
    background-color: salmon;
    margin: 20px;
    box-sizing: border-box;
}

header {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
}

img {
    height: 200px;
    width: 200px;
}
h2 {
    color: azure;
}

button {
    height: 20px;
    width: 200px;
}